parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/HealthCheckTest.php
        - tests/Integration/FullIntegrationTest.php
    ignoreErrors:
        - '#Parameter \#1 of callable .* expects Express\\Http\\Request, .* given#'

    # Express-PHP specific ignores
    universalObjectCratesClasses:
        - Express\Http\Request
        - Express\Http\Response
        - Express\Core\Application
