<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  failOnWarning="false"
  failOnRisky="false"
  stopOnFailure="false"
  cacheDirectory=".phpunit.cache"
  executionOrder="depends,defects"
  beStrictAboutOutputDuringTests="true"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="coverage.xml" />
      <html outputDirectory="coverage-html" />
    </report>
  </coverage>

  <php>
    <env name="APP_ENV" value="testing" />
    <env name="DB_CONNECTION" value="sqlite" />
    <env name="DB_DATABASE" value=":memory:" />
  </php>
</phpunit>
