<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  failOnWarning="false"
  failOnRisky="false"
  failOnDeprecation="false"
  stopOnFailure="false"
  cacheDirectory=".phpunit.cache"
  executionOrder="depends,defects"
  beStrictAboutOutputDuringTests="true"
>
  <groups>
    <exclude>
      <group>integration</group>
    </exclude>
  </groups>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
    <testsuite name="Database">
      <directory suffix="Test.php">./tests/Database</directory>
    </testsuite>
  </testsuites>

  
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>

  <php>
    <env name="APP_ENV" value="testing" />
    <env name="DB_CONNECTION" value="sqlite" />
    <env name="DB_DATABASE" value=":memory:" />
    <env name="XDEBUG_MODE" value="off" />
  </php>
</phpunit>
